<template>
    <span class="card-empty-container"  v-if="letters.length <= 9" >
        <div class="card-empty" v-for="i in 8" :key="i">
        </div>
    </span>
</template>

<script>
export default {
    props:{
        letters: {type:Array, required:true },
    }
}
</script>