<template>
    <div class="figure-container">
        <img class="bar" :src="require('../assets/images/bar.png')">

        <img v-if="lte(1)"  id="head" :src="require('../assets/images/head.png')">
        <img v-if="lte(2)"  id="neck" :src="require('../assets/images/neck.png')">
        <img v-if="lte(3)"  id="corpus" :src="require('../assets/images/corpus.png')">
        <img v-if="lte(4)"  id="r-arm" :src="require('../assets/images/right-arm.png')">
        <img v-if="lte(5)"  id="l-arm" :src="require('../assets/images/left-arm.png')">
        <img v-if="lte(6)"  id="r-hand" :src="require('../assets/images/right-hand.png')">
        <img v-if="lte(7)"  id="l-hand" :src="require('../assets/images/left-hand.png')">
        <img v-if="lte(8)"  id="r-leg" :src="require('../assets/images/right-leg.png')">
        <img v-if="lte(9)"  id="l-leg" :src="require('../assets/images/left-leg.png')">
        <img v-if="lte(10)" id="r-foot" :src="require('../assets/images/right-foot.png')">
        <img v-if="lte(11)" id="l-foot" :src="require('../assets/images/left-foot.png')">
    </div>
</template>

<script>
export default{
    props: { wrongCount: {type: Number, default: 0 } },
    setup(props){
        const lte = num => props.wrongCount >= num
        return { lte }
    }
}
</script>

<style scoped>

.figure-container{
    position: relative;
    bottom: -0.625rem;
    left: -3.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
} 
.bar{
    position: relative;
    top: 1.875rem;
    left: -13.125rem;
    height: 5.625rem;
}

#head{
    height: 10rem;
    z-index: 1
}
#neck{
    height: 3rem;
    position: relative;
    bottom: 1.25rem;
}
#corpus{
    position: relative;
    bottom: 1.875rem;
    z-index: 2;
}
#r-arm{
    position: relative;
    bottom: 12.188rem;
    left: 4.688rem;
    z-index: 1;
}
#l-arm{
    position: relative;
    bottom: 19.688rem;
    left: -4.688rem;
    z-index: 1;
}
#r-hand{
    position: relative;
    bottom: 21.563rem;
    left: 7.813rem;
    z-index: 0;
}
#l-hand{
    position: relative;
    bottom: 23.313rem;
    left: -7.813rem;
    z-index: 0;
}
#r-leg{
    position: relative;
    bottom: 23.125rem;
    left: 2.5rem;
    z-index: 1;
}
#l-leg{
    position: relative;
    bottom: 34.375rem;
    left: -2.5rem;
    z-index: 1;
}
#r-foot{
    position: relative;
    bottom: 35.5rem;
    left: 4.688rem;
    z-index: 0;
}
#l-foot{
    position: relative;
    bottom: 37.813rem;
    left: -4.688rem;
    z-index: 0;
}
</style>































