<template>
    <div v-if="finalMessage" class="modal-container" id="modal-container">
        <div class="modal">
            <h1 id="game-over">{{ finalMessage }}</h1>
            <h3 id="word-lose" v-show="status === 'lose'">The word was: {{ word }}</h3>
            <button id="new-word-btn" @click="reset">
                <p id="button-text">
                    NEW WORD
                </p>
            </button>
        </div>
    </div>
</template>

<script>
import { computed } from 'vue'

export default {
    props:{
        status: {type: String, default: ' '},
        word: {type: String, default: ' '}
    },
    setup(props, { emit }) {
        const finalMessage = computed(() => {
            if (props.status === 'win') return 'YOU WON! 🏆'
            if (props.status === 'lose') return 'GAME OVER'
            return ''
        })
        const reset = () => emit('reset')
        return { finalMessage, reset }
    }
}
</script>