<template>
    <div class="card"  v-for="(letter, i) in letters" :key="i">
        <span class="card-content">
            {{ correctLetters.includes(letter) ? letter.toUpperCase() : '\n' }}
        </span>
    </div>
</template>

<script>
export default {
    props:{
        letters: {type:Array, required:true },
        correctLetters: {type: Array, default: () => [] }
    }
}
</script>