<template>
    <div class="wrong-letters-container">
        <div id="wrong-letters-label">
            <p>YOU MISSED: </p>
            <span class="wrong-letters" v-for="(letter, i) in wrongLetters" :key="letter">
                {{ letter.toUpperCase() }}
                {{ i === wrongLetters.length - 1 ? '' : ' ' }}
            </span>
        </div>
    </div>
</template>

<script>
export default {
    props:{
        wrongLetters: { type:Array, default: () => [] }
    }
}
</script>