@font-face {
  font-family: Aller;
  src: url('./fonts/AllerDisplay.ttf');
}


body {
  font-family: Aller;
  color: black;
  font-size: 2rem;
  background-color: #3C4262;
  overflow: hidden;
}

#app{
  display: flex;
    justify-content: center;
    align-items: center;
    margin: 4% 0;
    width: 100vw;
    height: 50%;
}

.game-container{
  background-color: #F5F5F5;
  overflow: hidden;
  border-radius: 0.75rem;
  position: relative;
}

.grid-col{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0.938rem;
  grid-row-gap: 0rem;
  height: 35rem;
}

#rectangle{
  position: absolute;
  background-color: #5370F6;
  height: 30rem;
  width: 50rem;
  max-width: 50rem;
  top: 26rem;
  left: 79rem;
  transform: rotate(-45deg)
}

.wrong-letters-container{
  width: 56.25rem;
  margin-left: -6.25rem;
}

.wrong-letters{
  color:#5370F6;
  font-size: 5rem;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-container{
  display: flex;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.616);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index:99;
  justify-content: center;
  align-items: center;
}

.shadow{
  -webkit-box-shadow: 0rem 0rem 1.938rem 0.875rem rgba(0,0,0,0.3); 
  box-shadow: 0rem 0rem 1.938rem 0.875rem rgba(0,0,0,0.3);
}

#game-over{
  color: white;
  font-size: 5rem;
}

#new-word-btn{
  border-style: dashed;
  background-color: transparent;
  left: 50%;
  color: #FDB92B;
  margin-top: -2.5rem;
  border-radius: 624.938rem;
  border-color: #FDB92B;
  border-width: thick;
}

#button-text{
  font-family: Aller;
  font-size: 1.75rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

#button-text:hover, #new-word-btn:hover{
  color:white;
  background-color: #FDB92B;
  border-color: white;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.letter-container{
  display: flex;
  position: relative;
  margin-left: -50vw;
  height: 6.25rem;
  padding-bottom: 1.875rem;
  margin-top: 4.375rem;
  margin-right: 1.563rem;
  z-index: 3;
  justify-content: flex-end;
}

.card-empty-container{
  display: flex;
  position: relative;
  height: 6.25rem;
  z-index: 3;
  justify-content: flex-end;
}

.card{
  display: flex;
  justify-content: center;
  background-color: #53555D;
  border-radius: 0.5rem;
  color: white;
  line-height: 0.5;
  width: 4rem;
  height: 3rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
  margin-right: 0.75rem;
}

.card-empty{
  background-color: #E6E6E7;
  border-radius: 0.5rem;
  line-height: 0.5;
  width: 4rem;
  height: 3rem;
  padding-top: 1rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 1.5rem;
  margin-right: 0.75rem;
}

.card-content{
  padding-top:1rem;
  padding-bottom:12%;
  font-size: 3rem;
  font-weight: 750
}

#word-lose{
  color: white;
  font-size: 3rem;
  margin-top: -4rem;
}

.notification-container {
  background-color: red;
  border-radius: 624.938rem;
  padding: 0.938rem 1.25rem;
  position: absolute;
  top: -9.375rem;
  left: 65vw;
  transition: transform 0.5s ease-in-out;
}

#notification-text{
  color: white;
  padding:1rem;
  font-size: 1.5rem;
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(10.625rem);
  
}