<template>
  <div class="game-container shadow">
    <section class="grid-col">
      <Figure :wrong-count="wrongLetters.length" />
      <WrongLetters  :wrong-letters="wrongLetters" />
    </section>
    <section class="letter-container">
      <EmptyLetters :letters="letters" />
      <Word :letters="letters" :correct-letters="correctLetters" />
    </section>
    <Shape/>
  </div>
  <Popup :status="status" :word="word" @reset="reset" />
  <Notification :show="notification" />
</template>

<script>
import { computed, ref, onMounted } from 'vue'
import './assets/style.css'
import onKeydown from './assets/onKeydown'

import Figure from './components/Figure.vue'
import WrongLetters from './components/WrongLetters.vue'
import Word from './components/Word.vue'
import Popup from './components/Popup.vue'
import Notification from './components/Notification.vue'
import Shape from './components/Shape.vue'
import EmptyLetters from './components/EmptyLetters.vue'

export default {
  components: { Figure, Word, WrongLetters, Popup, Notification, Shape, EmptyLetters },
  
  setup() {
    const word = ref('')
    const guessedLetters = ref([])

    const fetchData = async() =>{
      const response = await fetch("https://random-word-api.herokuapp.com/word");
      const data = await response.json();
      word.value = data[0]
      
    }

    onMounted(() => {
        fetchData()
    })
    const letters = computed(() => { 
      if(word.value) 
      return word.value.split('')
      else
      return ""
    })

    const wrongLetters = computed(() =>
      guessedLetters.value.filter(l => !letters.value.includes(l))
    )

    const correctLetters = computed(() =>
      guessedLetters.value.filter(l => letters.value.includes(l))
    )

    const status = computed(() => {
      if (wrongLetters.value.length === 11) return 'lose'
      if(letters.value){
        if (letters.value.every(l => correctLetters.value.includes(l)))
        return 'win'
      }
      if (correctLetters.value.length === 11) return 'win'
      return ''
    })


    const reset = () => {
      guessedLetters.value = []
      fetchData()
      word.value = ''
    }
    
    const notification = ref(false)
    
    const showNotification = () => {
      notification.value = true
      setTimeout(() => (notification.value = false), 3000)
    }

    onKeydown(event => {
      const letter = event.key.toLowerCase()
      if (event.keyCode < 65 || event.keyCode > 90) return
      if (status.value) return
      if (guessedLetters.value.includes(letter)) {
        showNotification()
        return
      }
      guessedLetters.value.push(letter)
    })

    return {
      letters,
      word,
      wrongLetters,
      correctLetters,
      guessedLetters,
      notification,
      status,
      reset
    }
  },
}

</script>
